{% extends 'base.html' %}

{% block content %}
{% load static %}
<div style="padding-left: 25%; padding-right: 25%; padding-top: 1%; padding-bottom: 5%; background-image: url('{% static "back-image1.jpg" %}'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
  <div class="pf-c-card" style="padding: 5%;">
    <h1 class="pf-c-card__header pf-c-title pf-m-4xl" style="text-align: center;">Add Paycheck</h1>
    <br>
    <div class="pf-c-card__body">
      <form novalidate class="pf-c-form pf-m-horizontal" action="/expenses/" method="post">
        {% csrf_token %}
        <div class="pf-c-form__group">
          <label class="pf-c-input-group__text" for="date">
            <span class="pf-c-form__label-text">Date</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
          <div class="pf-c-form__horizontal-group">
            <input class="pf-c-form-control" type="date" id="date" name="date" aria-label="Date input example" />
          </div>
        </div>
        <div class="pf-c-form__group">
          <label class="pf-c-form__label" for="name">
            <span class="pf-c-form__label-text">Paycheck For</span>
          </label>
          <div class="pf-c-form__horizontal-group">
            <select class="pf-c-form-control" id="name" name="name">
              <option value='' selected>Please choose</option>
              <option value="Apurva">Apu</option>
              <option value="Kedar">Keku</option>
            </select>
          </div>
        </div>
        <div class="pf-c-form__group">
          <label class="pf-c-form__label" for="tax">
            <span class="pf-c-form__label-text">Tax</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
          <div class="pf-c-form__horizontal-group">
            <input class="pf-c-form-control" required type="number" id="tax" name="tax" aria-describedby="horizontal-form-name-helper2" />
          </div>
        </div>
        <div class="pf-c-form__group">
          <label class="pf-c-form__label" for="benefits">
            <span class="pf-c-form__label-text">Benefits</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
          <div class="pf-c-form__horizontal-group">
            <input class="pf-c-form-control" required type="number" id="benefits" name="benefits" aria-describedby="horizontal-form-name-helper2" />
          </div>
        </div>
        <div class="pf-c-form__group">
          <label class="pf-c-form__label" for="in_hand">
            <span class="pf-c-form__label-text">In Hand</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
          <div class="pf-c-form__horizontal-group">
            <input class="pf-c-form-control" required type="number" id="in_hand" name="in_hand" aria-describedby="horizontal-form-name-helper2" />
          </div>
        </div>
        <div class="pf-c-form__group">
          <label class="pf-c-form__label" for="total">
            <span class="pf-c-form__label-text">Total</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
          <div class="pf-c-form__horizontal-group">
            <input class="pf-c-form-control" required type="number" id="total" name="total" aria-describedby="horizontal-form-name-helper2" />
          </div>
        </div>
        <div class="pf-c-form__group">
          <label class="pf-c-form__label" for="comments">
            <span class="pf-c-form__label-text">Comments</span>
          </label>
          <div class="pf-c-form__horizontal-group">
            <textarea class="pf-c-form-control" name="comments" id="comments"></textarea>
          </div>
        </div>
        <div class="pf-c-form__group pf-m-action">
          <div class="pf-c-form__horizontal-group">
            <div class="pf-c-form__actions pf-c-card__footer">
              {% if message == "Paycheck added!!"%}
                <div class="pf-c-alert pf-m-success" aria-label="Success alert">
                  <div class="pf-c-alert__icon">
                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                  </div>
                  <h4 class="pf-c-alert__title">
                    <span class="pf-screen-reader">Success alert:</span>{{ message }}</h4>
                </div>
              {% elif 'Invalid' in message %}
                <div class="pf-c-alert pf-m-warning" aria-label="Warning alert">
                  <div class="pf-c-alert__icon">
                    <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                  </div>
                  <h4 class="pf-c-alert__title">
                    <span class="pf-screen-reader">Warning alert:</span>{{ message }}</h4>
                </div>
              {% endif %}
              <input class="pf-c-button pf-m-primary pf-m-block" type="submit" value="Submit Form">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

