<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {% load static %}
  <link rel="stylesheet" href="{% static "patternfly.css" %}">
  {% load static %}
  <link rel="stylesheet" href="{% static "patternfly-addons.css" %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Include latest PatternFly CSS via CDN -->
  <title>Expense Tracker</title>
</head>
  <body>
    <div class="pf-c-page" id="page-light-sidebar-nav-example">
      <header role="banner" class="pf-c-page__header">
        <div class="pf-c-page__header-brand">
          <div class="pf-c-page__header-brand-toggle">
            <button
              class="pf-c-button pf-m-plain"
              type="button"
              id="page-light-sidebar-nav-example-nav-toggle"
              aria-label="Global navigation"
              aria-expanded="false"
              aria-controls="navigation-bar"
              data-toggle="collapse" 
              data-target="#navigation-bar"
            >
              <i class="fas fa-bars" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </header>
      <div class="pf-c-page__sidebar pf-m-dark collapse" id="navigation-bar">
        <div class="pf-c-page__sidebar-body">
          <nav
            class="pf-c-nav pf-m-dark"
            id="page-light-sidebar-nav-example-expandable-nav"
            aria-label="Global"
          >
            <ul class="pf-c-nav__list pf-c-nav__simple-list">
              <li class="pf-c-nav__item">
                <a href="/expenses/" class="pf-c-nav__link">Add expenses</a>
              </li>
              <li class="pf-c-nav__item">
                <a href="/paychecks/" class="pf-c-nav__link">Add Paycheck</a>
              </li>
              <li class="pf-c-nav__item">
                <a href="/bonuses/" class="pf-c-nav__link">Add Bonus</a>
              </li>
              <li class="pf-c-nav__item">
                <a href="/balances/" class="pf-c-nav__link">Add Balance</a>
              </li>
              <li class="pf-c-nav__item">
                <a href="/admin" class="pf-c-nav__link">Admin Page</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <main role="main" class="pf-c-page__main" tabindex="-1" id="main-content-page-light-sidebar-nav-example">
        <section class="pf-c-page__main-section pf-m-light">
              {% block content %}{% endblock %}
        </section>
      </main>
    </div>
  </body>
</html>
